h1
{
    color: cornflowerblue;
    font-family: 'Chelsea Market', cursive;
}
body{
    background: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-img {
    
    height: 100px;
    background-image: url("../image/p.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 

  }